@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border
}

::-webkit-scrollbar {
  display: none;
}


.roboto {
  font-family: "Source Code Pro", serif;
}

.hero {
  @apply w-full h-screen flex flex-col items-center pt-20 gap-8
}

.hero span {
  @apply text-5xl sm:text-6xl font-bold
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes changeColor {
  0%, 100% {
    color: red;
  }
  50% {
    color: aqua;
  }
}

.hero .arrow {
  animation: bounce 1s infinite, changeColor 2s infinite;
}

.computers-container {
  @apply w-full h-screen fixed top-0 flex justify-center items-center -z-50 bg-black
}

#computers {
  @apply w-full translate-y-20
}

#content {
  @apply w-full flex flex-col p-[10%] xl:p-[5%] bg-blue-950 bg-opacity-50 gap-20 min-h-screen
}

.skills {
  @apply list-disc rounded-lg text-white gap-2 flex flex-col sm:text-lg w-full
}

.skills li {
  @apply w-full bg-gray-600 rounded-lg p-5 flex items-center gap-5
}

.skills li img {
  @apply h-8 w-8
}

#works .links {
  @apply w-full flex flex-col items-center gap-12 xl:gap-0 xl:justify-between xl:flex-row
}

#works .links a img {
  @apply xl:w-96 w-full rounded-lg
}