@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border
}

::-webkit-scrollbar {
  display: none;
}

.source-code-pro {
  font-family: "Source Code Pro", serif;
}



.hero {
  @apply w-full h-screen flex flex-col items-center gap-2 sm:gap-4
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero h1 {
  @apply sm:text-2xl text-white;
  animation: blink 1s infinite;
}

.hero span {
  @apply text-4xl sm:text-6xl font-bold
}

.computers-container {
  @apply w-screen h-full bg-black fixed  
}

.computers {
  @apply w-full sm:translate-y-20 translate-y-40
}

.content {
  @apply w-screen flex flex-col px-5 sm:px-10 min-h-screen text-white text-sm sm:text-lg bg-center !bg-fixed bg-cover
}

#about {
  @apply flex flex-col items-center justify-center w-full
}

.demos {
  @apply flex flex-wrap w-full justify-center sm:gap-20 gap-10 
}

.demos img {
  @apply object-cover rounded-lg hover:scale-[105%] transition-transform duration-200 cursor-pointer w-[500px] max-w-full
}

 
