@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border
}

::-webkit-scrollbar {
  display: none;
}

.source-code-pro {
  font-family: "Source Code Pro", serif;
}



.hero {
  @apply w-full h-screen flex flex-col items-center gap-2 sm:gap-4
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero h1 {
  @apply sm:text-2xl text-white;
  animation: blink 1s infinite;
}

.hero span {
  @apply text-4xl sm:text-6xl font-bold
}

.computers-container {
  @apply w-screen h-full bg-black fixed  
}

.computers {
  @apply w-full sm:translate-y-20 translate-y-40
}

.content {
  @apply w-screen flex flex-col sm:px-20 px-10 py-20 gap-20 lg:gap-40 min-h-screen text-white text-sm sm:text-lg bg-center !bg-fixed bg-cover
}

#about {
  @apply flex flex-col items-center justify-center gap-16 w-full
}

#about p {
  @apply w-[36rem] max-w-full text-center
}



#about img {
  @apply w-12 sm:w-16 cursor-pointer hover:scale-[105%] duration-200
}

.project {
  @apply flex flex-col items-center justify-center gap-2 w-full sm:w-1/3
}


/* Responsive demos layout */
.demos-container {
  @apply flex gap-10 w-full sm:justify-between
}

.project img {
  @apply object-cover rounded-lg hover:scale-[102%] transition-transform duration-300 cursor-pointer w-full
}

.project-title h1 {
  @apply text-lg font-bold text-white
}

/* Responsive layout */
@media (min-width: 1024px) {
  .demos-container {
    @apply flex-row justify-between
  }
  
  .project {
    width: 25vw;
  }
  
  .project img {
    @apply h-auto
  }
}

@media (max-width: 1023px) {
  .demos-container {
    @apply flex-col items-center
  }
  
  .project {
    @apply w-full
  }
  
  .project img {
    @apply h-auto
  }
}





