@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

* {
  @apply box-border
}

.app {
 @apply w-screen
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: airstrike;
  src: url('../public/airstrike.ttf');
}

nav {
  @apply w-full px-[5%] h-24 fixed top-0 text-2xl z-50 bg-gray-800 flex items-center justify-between
}

nav h1 {
  text-shadow: 0 0 10px aqua;
  @apply font-[airstrike] text-4xl !text-[aqua]
}

#links {
  @apply w-2/3 hidden xl:flex justify-between 
}


#menu-links {
  @apply p-12 bg-gray-800 fixed top-24 right-0 flex flex-col gap-4 xl:hidden border-t-white border-t-2
}

#menu-button {
  @apply block xl:!hidden
}

#menu-icon {
  @apply !text-white !text-6xl duration-200
}

#menu-icon:hover {
  @apply !text-[aqua]
}

.title {
  @apply font-[airstrike] duration-200
}

nav .title:hover {
  color: aqua !important;
  text-shadow: 0 0 10px aqua !important;
  cursor: pointer;
}

.about-title, #about p {
  color: red;
  text-shadow: 0 0 10px red
}

.certs-title, #certs p {
  color: orange;
  text-shadow: 0 0 10px orange
}

.works-title, #works p {
  color: yellow;
  text-shadow: 0 0 10px yellow
}

.refs-title, #refs p{
  color: lime;
  text-shadow: 0 0 10px lime
}

.contacts-title, #contacts p{
  color: violet;
  text-shadow: 0 0 10px violet
}

#computers {
  @apply w-full h-[1000px] fixed top-24 -z-50 bg-black
}

#hero {
  @apply w-full h-[1000px]
}

.arrow {
  @apply h-96 mt-12
}

#section-container {
  @apply w-screen flex flex-col items-center h-[1000px] bg-black bg-opacity-80 !overflow-auto px-[10%] justify-center
}

section .title {
  @apply sm:text-5xl text-4xl
}

section p {
  @apply xl:text-xl lg:text-lg duration-200 text-justify
}

#about {
  @apply w-full items-center flex xl:flex-row xl:pb-0 flex-col gap-24 justify-between
}

#about #content {
  @apply lg:w-2/3 flex flex-col gap-2 xl:gap-4
}

#about img {
  @apply w-96 rounded-xl
}

#works {
  @apply w-full flex flex-col items-center sm:gap-16 gap-8
}

.work {
  @apply flex lg:flex-row flex-col items-center gap-4 lg:gap-16
}

.work-desc {
  @apply flex flex-col gap-2 sm:w-[48rem] w-96
}

.work img {
  @apply sm:w-[48rem] w-96 h-auto rounded-xl
}

.arrow-circle {
  box-shadow: 0 0 10px yellow;
  @apply text-[yellow] sm:!text-8xl !text-6xl rounded-full sm:border-8 border-[6px] border-[yellow]
}

.arrow-circle:hover {
  box-shadow: 0 0 10px aqua;
  @apply !text-[aqua] cursor-pointer  border-[aqua]
}

#contacts {
  @apply flex flex-col gap-8 items-center
}

#contacts form {
  @apply bg-gray-800 w-[32rem] lg:w-[64rem] h-[32rem] rounded-xl p-8 flex flex-col justify-between items-center gap-4
}

#contacts input {
  @apply w-full h-12 outline-none text-xl text-gray-800 rounded-sm p-4
}

#contacts button {
  @apply flex w-32 rounded-2xl items-center justify-between p-4 bg-blue-600
}

#contacts button h1 {
  @apply text-white font-bold text-xl
}

#contacts textarea {
  @apply resize-none w-full h-5/6 outline-none text-xl text-gray-800  rounded-sm p-4
}

#social {
  @apply flex justify-between w-full items-center
}

#social img {
  @apply w-16
}





